<header class="navbar navbar-static-top">
  <nav class="navbar navbar-default navbar navbar-fixed-top navbar-propiedades" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <a href="#/" class="navbar-brand">
        <img title="Home" height="25" src="/data/assets/images/logo-almundo.svg"
/>
</a>
      </div>

      <div class="collapse navbar-collapse" id="navbar1">
        <ul class="nav navbar-nav">

        </ul>
        <!--Menu por usuario-->
      </div>
    </div>
  </nav>
</header>
